* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cell-size: 200px;
    --mark-size: calc(var(--cell-size) * 1);
    --grid-lines: purple;
    --coloro: rgba(173,255,47,1);
    --coloro-transparent: rgba(173,255,47, 0.3);
    --colorx: rgba(255, 83, 73, 1);
    /* --colorx-transparent: rgba(255, 83, 73, 0.3); */
    --colorx-transparent: #ffd4c4;
}

.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3,auto);
}

.cell {
    width: var(--cell-size);    
    height: var(--cell-size);
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 5px var(--grid-lines);
    position: realtive; 
    cursor: pointer;
}

.cell:first-child, .cell:nth-child(2), .cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n+1) {
    border-left: none;
}

.cell:nth-child(3n) {
    border-right: none;
}

.cell:last-child, .cell:nth-child(8), .cell:nth-child(7) {
    border-bottom: none;
}

.cell.x, .cell.o {
    cursor: not-allowed;
}

.cell.x::before, .cell.x::after, .board.x .cell:not(.o):not(.x):hover::before, .board.x .cell:not(.o):not(.x):hover::after {
    content: "";
    position: absolute;
    height: var(--mark-size);
    width: calc(var(--mark-size)*.15);
    background-color: var(--colorx-transparent);
    border-radius: 50%;
}

.cell.x::before, .cell.x::after {
    background-color: var(--colorx);
}

.cell.x::before, .board.x .cell:hover::before {
    transform: rotate(45deg);
}

.cell.x::after, .board.x .cell:hover::after {
    transform: rotate(-45deg);
}

.cell.o::before, .cell.o::after, .board.o .cell:not(.o):not(.x):hover::before, .board.o .cell:not(.o):not(.x):hover::after  {
    content: "";
    position: absolute;
    height: var(--mark-size);
    width: var(--mark-size);
    border-radius: 50%;
}    

.cell.o::before,  .board.o .cell:not(.o):not(.x):hover::before{
    height: calc(var(--mark-size)*.8);
    width: calc(var(--mark-size)*.8);
    background-color: var(--coloro);
}

.board.o .cell:not(.o):not(.x):hover::before {
    background-color: var(--coloro-transparent);
}

.cell.o::after, .board.o .cell:not(.o):not(.x):hover::after {
    height: calc(var(--mark-size)*.55);
    width: calc(var(--mark-size)*.55);
    background-color: white;
}


.winning-page {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.9);
    display: flex;
    justify-content: center;
    align-items: center;
}